In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [5]:
#  3. Convert the June temperatures to a list.
june_temps = list(june)

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps,columns=['Date','June Temperature'])
june_temps_df.set_index(june_temps_df['Date'], inplace = True)

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_Temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [9]:
# 7. Convert the December temperatures to a list.
Dec_Temps = list(Dec_Temps)

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_Temps_df = pd.DataFrame(Dec_Temps,columns=['Date','December Temperatures'])
Dec_Temps_df.set_index(Dec_Temps_df['Date'], inplace=True)

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_Temps_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

**Deliverable 3 Better Dataframes to Present in README and 2 Additional Queries

In [13]:
june_precp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month',Measurement.date) ==6).all()

june_Precp_Temp = list(june_precp_temp)
june_Precp_Temp_df = pd.DataFrame(june_Precp_Temp,columns=['Date','June Precipitation','June Temperatures'])
june_Precp_Temp_df.set_index(june_Precp_Temp_df['Date'],inplace=True)
june_Precp_Temp_df.describe()

       June Precipitation  June Temperatures
count         1574.000000        1700.000000
mean             0.136360          74.944118
std              0.335731           3.257417
min              0.000000          64.000000
25%              0.000000          73.000000
50%              0.020000          75.000000
75%              0.120000          77.000000
max              4.430000          85.000000

In [15]:
dec_precp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month',Measurement.date) ==12).all()

dec_Precp_Temp = list(dec_precp_temp)
dec_Precp_Temp_df = pd.DataFrame(dec_Precp_Temp,columns=['Date','December Precipitation','December Temperatures'])
dec_Precp_Temp_df.set_index(dec_Precp_Temp_df['Date'],inplace=True)
dec_Precp_Temp_df.describe()

       December Precipitation  December Temperatures
count             1405.000000            1517.000000
mean                 0.216819              71.041529
std                  0.541399               3.745920
min                  0.000000              56.000000
25%                  0.000000              69.000000
50%                  0.030000              71.000000
75%                  0.150000              74.000000
max                  6.420000              83.000000

In [16]:
march_precp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month',Measurement.date) ==3).all()

march_Precp_Temp = list(march_precp_temp)
march_Precp_Temp_df = pd.DataFrame(march_Precp_Temp,columns=['Date','March Precipitation','March Temperatures'])
march_Precp_Temp_df.set_index(march_Precp_Temp_df['Date'],inplace=True)
march_Precp_Temp_df.describe()

       March Precipitation  March Temperatures
count          1566.000000         1693.000000
mean              0.204227           70.059067
std               0.570625            3.845271
min               0.000000           56.000000
25%               0.000000           68.000000
50%               0.010000           70.000000
75%               0.120000           73.000000
max               6.380000           82.000000

In [17]:
sept_precp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month',Measurement.date) ==9).all()

sept_Precp_Temp = list(sept_precp_temp)
sept_Precp_Temp_df = pd.DataFrame(sept_Precp_Temp,columns=['Date','September Precipitation','September Temperatures'])
sept_Precp_Temp_df.set_index(sept_Precp_Temp_df['Date'],inplace=True)
sept_Precp_Temp_df.describe()

       September Precipitation  September Temperatures
count              1379.000000             1480.000000
mean                  0.164249               76.164865
std                   0.437928                3.535178
min                   0.000000               64.000000
25%                   0.000000               74.000000
50%                   0.020000               76.000000
75%                   0.150000               79.000000
max                   6.830000               87.000000